body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex: 1;
}

aside {
    background-color: #752c2c;
    width: 200px;
    padding: 1rem;
}

section {
    background-color: #ceb4b4;
    flex: 1;
    padding: 1rem;
}