body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 230, 0);
}

header, footer {
    background-color: #dbc0c0;
    color: rgb(143, 28, 28);
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex: 1;
}

aside {
    background-color: #752c2c;
    width: 200px;
    padding: 1rem;
}

section {
    background-color: #552020;
    flex: 1;
    padding: 1rem;
}