
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ffe600;
}

header, footer {
    background: #dbc0c0;
    color: #8f1c1c;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex: 0;
}

aside, section {
    padding: 1rem;
}

aside {
    background: #752c2c;
    width: 200px;
}

section {
    background: #9e2121;
    flex: 1;
}
h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
p{
    display: flex;
    flex-direction: column;
}
