<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block content %}{% endblock %}</title>
        <style>
            img {
                max-width: 1200px;
                height: auto;
            }
            #nav {
                margin-bottom: 20px;
            }
            #nav a {
                text-decoration: none;
                color: blue;
                font-weight: bold;
            }
            #nav a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h1>first flask project</h1>
        <div id="nav">
            <a href= "/">Home</a> |
            <a href= "/about">About</a> |
            <a href= "/contact">Contact</a>
        </div>
        {% block body  %}{% endblock %}
    </body>
    </html>